body {
  font-family: Poppins, "sans-serif";
  background-color: #ffffff;
}

.hero--container {
  padding: 20px;

  display: flex;
  flex-direction: column;
}

.hero--grid {
  max-width: 400px;
  align-self: center;
}

.hero--header {
  margin-bottom: 16px;
  margin-left: 16px;
  font-weight: 600px;
  font-size: 36px;
  line-height: 39px;
}

.hero--text {
  max-width: 320px;
  margin-top: 0;
  margin-left: 16px;
  font-weight: 300;
  font-size: 16px;
  line-height: 17px;
}
